
/* 
redit mono 
Roboto 
Open sans 
Black Ops One
Noto Color Emoji
*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    ---sbca: #ff6666;
    ---sbca2: #FD4848;
    ---sbca3: #ba1111;
    ---maincolor: #3F3F3F;
    ---tableHeader: #3F3F3F;
    ---gray: #A5A5A5;
    ---line: #9b9a9a59;
    ---white: #fff;
    ---selected_color: #fff;
    ---shadow: #c4c4c4;
    ---shadow2: #2e2e2e;
    ---hover: #e3e3e3;
    ---hover2: #ebeaea48;
    ---hover3: #c4c4c45d;
    ---acc_bg: #b9b1fd15;
    ---list_hover: #e2e2e238;
    ---tab_hover: #dbdbdb5d;
    ---practice: #f0f0f0ec;
    ---mark: #75ff9a;
    ---bday: #5ea3f7;
    ---bdayhover: #308eff;
    ---markhover: #44f273;
    ---black: #3F3F3F;
}

.dark{
    ---sbca: #ff6666;
    ---sbca2: #FD4848;
    ---sbca3: #ba1111;
    ---maincolor: #f0f0f0ec;
    ---tableHeader: #686868;
    ---gray: #A5A5A5;
    ---line: #9b9a9a59;
    ---white: #3F3F3F;
    ---selected_color: #f0f0f0ec;
    ---shadow: #6b6b6b94;
    ---shadow2: #2e2e2e;
    ---hover: #686868;
    ---hover2: #ebeaea48;
    ---hover3: #c4c4c45d;
    ---acc_bg: #b9b1fd15;
    ---list_hover: #e2e2e238;
    ---tab_hover: #dbdbdb5d;
    ---practice: #f0f0f0ec;
    ---open_popup: rgba(66, 66, 66, 0.589);
    ---mark: #75ff9a;
    ---bday: #5ea3f7;
    ---bdayhover: #308eff;
    ---markhover: #44f273;
    ---black: #3F3F3F;
}

.christmas{
    ---sbca: #f7c6b4;
    ---sbca2: #FFA27F;
    ---sbca3: #fa7d4f;
    ---maincolor: #FFE8C5;
    ---tableHeader: #97BE5A;
    ---gray: #A5A5A5;
    ---line: #9b9a9a59;
    ---white: #FF0000;
    ---selected_color: #f0f0f0ec;
    ---shadow: #6b6b6b94;
    ---shadow2: #2e2e2e;
    ---hover: #97BE5A;
    ---hover2: #ebeaea48;
    ---hover3: #c4c4c45d;
    ---acc_bg: #b9b1fd15;
    ---list_hover: #e2e2e238;
    ---tab_hover: #dbdbdb5d;
    ---practice: #f0f0f0ec;
    ---open_popup: rgba(66, 66, 66, 0.589);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: var(---maincolor);
    background-color: var(---white);

    /* removing scrollbar */
    /* scrollbar-width: none; /* remove scrollbar for firefox */
    /* -ms-overflow-style: none; remove scrollbar for edge */ 
}

/* remove the scrollbar display for - chrome, safari, opera */
/* body::-webkit-scrollbar{
    display: none;
} */

/* Navigation Bar */

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Design in desktop view */

.navbar .navmenu{
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Logo design */

.navbar .navmenu #sbca{
    font-size: 20px;
    color: var(---sbca);
    letter-spacing: 1px;
    font-family: "Black Ops One"; /* change this shit */
}

.navbar .navmenu img:not(#textlogo){
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.navbar .navmenu #textlogo{
    height: 35px;
}

/* Action menu */

.navbar .navmenu a{
    color: var(---gray);
}

.navbar .navmenu .active{
    color: var(---maincolor);
}

.navbar .navmenu a .nav{
    margin-left: 15px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navmenu a .label{
    display: none;
    opacity: 0;
    position: absolute;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(---hover);
    color: var(---maincolor);
    margin-top: 5px;
    transition: opacity .5s, display 5s;
    padding: 5px;
}

.navbar .navmenu a .nav:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.navbar .navmenu a:hover .label{
    opacity: .7;
    display: block;
}

.navbar .navmenu a #sbca:active,
.navbar .navmenu a .nav:active{
    color: var(---white);
}