
/* 
redit mono 
Roboto 
Open sans 
Black Ops One
Noto Color Emoji
*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    ---sbca: #ff6666;
    ---sbca2: #FD4848;
    ---sbca3: #ba1111;
    ---sbca4: #ff4646;
    ---maincolor: #3F3F3F;
    ---tableHeader: #3F3F3F;
    ---gray: #A5A5A5;
    ---line: #9b9a9a59;
    ---white: #fff;
    ---selected_color: #fff;
    ---shadow: #c4c4c4;
    ---shadow2: #2e2e2e;
    ---hover: #e3e3e3;
    ---hover2: #ebeaea48;
    ---hover3: #c4c4c45d;
    ---acc_bg: #b9b1fd15;
    ---list_hover: #e2e2e238;
    ---tab_hover: #dbdbdb5d;
    ---practice: #f0f0f0ec;
    ---mark: #75ff9a;
    ---bday: #5ea3f7;
    ---sunflower: #ffa902;
    ---bdayhover: #308eff;
    ---markhover: #44f273;
    ---black: #3F3F3F;
}

.dark{
    ---sbca: #ff6666;
    ---sbca2: #FD4848;
    ---sbca3: #ba1111;
    ---sbca4: #ff4646;
    ---maincolor: #f0f0f0ec;
    ---tableHeader: #686868;
    ---gray: #A5A5A5;
    ---line: #9b9a9a59;
    ---white: #3F3F3F;
    ---selected_color: #fff;
    ---shadow: #6b6b6b94;
    ---shadow2: #2e2e2e;
    ---hover: #686868;
    ---hover2: #ebeaea48;
    ---hover3: #c4c4c45d;
    ---acc_bg: #b9b1fd15;
    ---list_hover: #e2e2e238;
    ---tab_hover: #dbdbdb5d;
    ---practice: #f0f0f0ec;
    ---open_popup: rgba(66, 66, 66, 0.589);
    ---mark: #75ff9a;
    ---bday: #5ea3f7;
    ---sunflower: #ffa902;
    ---bdayhover: #308eff;
    ---markhover: #44f273;
    ---black: #3F3F3F;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: var(---maincolor);
    background-color: var(---white);

    /* removing scrollbar */
    /* scrollbar-width: none; /* remove scrollbar for firefox */
    /* -ms-overflow-style: none; remove scrollbar for edge */ 
}

/* remove the scrollbar display for - chrome, safari, opera */
/* body::-webkit-scrollbar{
    display: none;
} */

/* Navigation Bar */

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Design in desktop view */

.navbar .navmenu{
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Logo design */

.navbar .navmenu #sbca{
    font-size: 20px;
    color: var(---sbca);
    letter-spacing: 1px;
    font-family: "Black Ops One"; /* change this shit */
}

.navbar .navmenu img:not(#textlogo){
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.navbar .navmenu #textlogo{
    height: 35px;
}

/* Action menu */

.navbar .navmenu a #sbca:active{
    color: var(---white);
}

.navbar .navmenu .nav-item{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    color: var(---gray);
}

.navbar .navmenu .mobile{
    display: none;
}

.navbar .navmenu .nav-item i{
    font-size: 18px;
}

.navbar .navmenu .nav-item .label{
    display: none;
    margin-left: 10px;
    color: gray;
}

.navbar .navmenu .nav-item:hover{
    background-color: var(---acc_bg);
}

.navbar .navmenu .nav-item:hover .label{
    display: block;
}

.navbar .navmenu .nav-item:active{
    color: var(---white);
}

.navbar .navmenu .active{
    color: var(---maincolor);
}

.navbar .navmenu .active .label{
    display: block;
}

@media only screen and (max-width: 768px){
    /* for mobile */
    .navbar .navmenu .nav-item{
        display: none;
    }

    .navbar .navmenu .mobile{
        display: flex;
    }
}