.view{
    height: 85vh;
    width: 100%;
    display: none;
}

.active_user{
    display: flex;
}

.dashboard .sides{
    padding: 10px;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color: var(---line);
}

::-webkit-scrollbar-thumb{
    background-color: var(---gray);
    border-radius: 10px;
}

/* all text input and textarea */
textarea,
input{
    font-family: "Open Sans", "Noto Color Emoji", sans-serif;
}

/* dashboard Usercard - STUDENTS */

.dashboard .userprofile{
    width: 280px;
    min-width: 280px;
    /* border: 1px solid var(---line); */
}

.dashboard .userprofile .usercard{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
    border-radius: 10px;
    height: 230px;
    min-height: 200px;
    border: 1px solid var(---line);
}

.dashboard .userprofile .usercard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid var(---line); */
}

.dashboard .userprofile .usercard .header .user_profile{
    display: flex;
    align-items: center;
}

.dashboard .userprofile .usercard .header .user_profile .image{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50px;
}

.dashboard .userprofile .usercard .header .user_profile .image #std-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dashboard .userprofile .usercard .header .user_profile .name p{
    color: var(---gray);
    font-size: 14px;
}

/* View GPA */

.dashboard .userprofile .usercard .viewGPA{
    height: 130px;
    max-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .userprofile .usercard .viewGPA .gpa #student-grade{
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

/* dashboard Table view - STUDENTS */
.dashboard .dashboardTable{
    width: 100%;
    /* border: 1px solid var(---line); */
}

.dashboard .dashboardTable .header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .dashboardTable .header .head p{
    font-weight: bold;
    font-size: 25px;
}

.dashboard .dashboardTable .timeupdate{
    color: var(---gray);
    display: flex;
    align-items: center;
}

.dashboard .dashboardTable .timeupdate i{
    margin-right: 10px;
}

/* dashboard admin's view - ADMIN */

/* global input - for dark and white mode */
input{
    color: var(---maincolor);
    background-color: transparent;
    font-family: "Open Sans", "Noto Color Emoji";
}

input[type="date"]{
    font-family: "Open Sans", sans-serif;
}

input::placeholder{
    color: var(---gray);
}

textarea{
    background-color: transparent;
    color: var(---maincolor);
    font-family: "Open Sans", "Noto Color Emoji";
}

select{
    background-color: transparent;
    color: var(---maincolor);
}

option{
    color: var(---maincolor);
    background-color: var(---white);
}

/* tab bar admin view */
.dashboard .tabbar{
    width: 200px;
    padding: 5px;
}

.dashboard .tabbar .t_option,
.dashboard .tabbar .option{
    color: var(---maincolor);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.dashboard .tabbar .t_option:not(.active):hover,
.dashboard .tabbar .option:not(.active):hover{
    background-color: var(---hover);
}

.dashboard .tabbar .active{
    background-color: var(---sbca);
    color: var(---selected_color);
}

.dashboard .tabbar .t_option svg,
.dashboard .tabbar .t_option i,
.dashboard .tabbar .option svg,
.dashboard .tabbar .option i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 18px;
}

.dashboard .tabbar .t_option svg,
.dashboard .tabbar .option svg{
    width: 25px;
    height: 25px;
}

.dashboard .tabbar .t_option p,
.dashboard .tabbar .option p{
    font-size: 17px;
}

/* dashboard box-content workspace */

.dashboard .workspace{
    padding: 10px;
    width: 100%;
}

.dashboard .workspace .workcard{
    /* box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow); */
    /* border-radius: 5px; */
    height: 540px;  

    display: none;
}

/* all page header and popup menus */

.dashboard .workspace .workcard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* border-bottom: 1px solid var(---gray); */
    /* border: 1px solid var(---line); */
    border-radius: 10px 10px 0 0;
    background-color: var(---acc_bg);
}

.dashboard .workspace .workcard .header .controlside,
.dashboard .workspace .workcard .header .actionside{
    display: flex;
    align-items: center;
}

.dashboard .workspace .workcard .header .controlside .controls,
.dashboard .workspace .workcard .header .actionside .actions{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid transparent;
}

.dashboard .workspace .workcard .header .actionside .highlight{
    background-color: var(---mark);
    color: var(---selected_color);
    background: linear-gradient(90deg, rgba(30,223,185,1) 0%, rgba(43,94,232,1) 56%, rgba(255,0,254,1) 100%);
}

.dashboard .workspace .workcard .header .actionside .actions p{
    padding: 10px;
}

.dashboard .workspace .workcard .header .actionside #admindb_option p{
    position: absolute;
}

.dashboard .workspace .workcard .header .actionside .actions svg,
.dashboard .workspace .workcard .header .controlside .controls svg{
    width: 20px;
    height: 20px;
}

.dashboard .workspace .workcard .header .controlside .controls p{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
}

/* for announcment post button */
.dashboard .workspace .workcard .header .controlside .post{
    background-color: var(---sbca);
    color: var(---selected_color);
    padding: 5px 15px 5px 15px;
}

.dashboard .workspace .workcard .header .controlside .post:active{
    background-color: var(---white);
}

.dashboard .workspace .workcard .header .controlside .controls:hover,
.dashboard .workspace .workcard .header .actionside .actions:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .workspace .workcard .header .controlside .controls:active,
.dashboard .workspace .workcard .header .actionside .actions:active{
    color: var(---white);
}

.dashboard .workspace .workcard .header .controlside .page{
    font-size: 17px;
    color: var(---gray);
    margin-left: 10px;
    margin-right: 10px;
}

/* searchbar popup */

.header .search .searchinput{
    display: none;
}

.header .search .showSearch{
    display: block;
}

.header .search .searchinput input{
    margin-left: 10px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: var(---maincolor);
}

.header .search input:focus{
    outline: none;
}
/* end of header styling */

/* TAB BAR PAGES STYLES */

/* dashboard workspace */

/* dashboard pop-up / popup for selecting year level of student in dashboard */
.dashboard .workspace .Dashboardview .view_select-level_popup{      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 30%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

/* dashboard pop-up / show student information */
.dashboard .workspace .Dashboardview .open_info_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 66, 66, 0.589);

    width: 100%;
    height: 100%;
    display: none;
}

.dashboard .workspace .Dashboardview .active_open_popup{
    display: block;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(---white);

    width: 750px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid var(---line);
    box-shadow: 0 4px 8px 0 var(---tableHeader), 0 6px 20px 0 var(---tableHeader);
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .exit,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .exit:hover,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit:hover{
    background-color: var(---hover);
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .exit:active,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit:active{
    color: var(---white);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile{
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .picture{
    border: 1px solid var(---line);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .picture img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .student_name .studentname{
    font-size: 20px;
    font-weight: bold;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .student_name .studentcourse{
    color: var(---gray);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade{
    overflow-y: scroll;
    height: 250px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade::-webkit-scrollbar{
    display: none;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade:hover{
    background-color: var(---hover);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade input{
    width: 200px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Open sans', sans-serif;
    border: 0;
    border-bottom: 1px solid var(---line);
    text-align: end;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade input:focus,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca2);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade{
    padding: 10px;
    display: flex;
    align-items: center;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade input{
    border: 1px solid var(---line);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    text-align: end;
    margin-left: 10px;
}

/* end of information popup */

.dashboard .workspace .Dashboardview .content .titleContent{
    margin-bottom: 10px;
}

/* Semester workspace */

.dashboard .view .dashboardTable .table,
.dashboard .workspace .workcard .content{ /* Content page of all pages from tab bar starts here. */
    /* border: 1px solid var(---line); */
    padding: 10px;
    height: 450px;
    overflow-y: auto;

    /* removing scrollbar */
    scrollbar-width: none; /* remove scrollbar for firefox */
    -ms-overflow-style: none; /* remove scrollbar for edge  */
}

.dashboard .view .dashboardTable .table{
    padding: 0;
}

/* remove scrollbar */
.dashboard .workspace .Dashboardview .content::-webkit-scrollbar{
    display: none;
}

.dashboard .workspace .workcard .content .currentsem{
    font-size: 25px;
    font-weight: lighter;
}

.dashboard .workspace .workcard .content .info{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    height: 80px;
}

.dashboard .workspace .workcard .content .info .seminfo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(---gray);
    width: 150px;
    margin-right: 20px;
    color: var(---maincolor);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dashboard .workspace .workcard .content .info .seminfo:hover{
    background-color: var(---hover3);
}

.dashboard .workspace .workcard .content .info .seminfo i{
    font-size: 30px;
    margin-right: 10px;
}

/* hidding pages - this is for navigating pages like dashboard, semester, students and more. */
.dashboard .workspace .viewpage{
    display: block;
}

/* POPUP STYLES */

/* popup for new users */

.dashboard .workcard .content .popup_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(---white);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
    height: 120px;
    width: 300px;

    visibility: hidden;
}

.dashboard .workcard .content .showError{ 
    /* show the error message */
    visibility: visible;
}

.dashboard .workcard .content .popup_message .header .headertitle{
    display: flex;
    align-items: center;
}

.dashboard .workcard .content .popup_message .header .headertitle p{
    font-weight: bold;
    margin-left: 10px;
}

.dashboard .workcard .content .popup_message .header .exit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dashboard .workcard .content .popup_message .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .workcard .content .popup_message .header .exit:active{
    color: var(---white);
}

.dashboard .workcard .content .popup_message .error_name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    
    font-size: 20px;
}

.dashboard .workcard .content .popup_message .error_name #error_name,
.dashboard .workcard .content .popup_message .error_name #error_name_msg{
    font-weight: bold;
    margin-left: 10px;
}

/* popup for new semester */
.blurbg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(66, 66, 66, 0.589);
    /* backdrop-filter: blur(5px); */
    height: 100%;
    width: 100%;

    visibility: hidden;
}

/* for popup messages */
.blurbg .popupmessage{
    width: 400px;
    height: 200px;
    background-color: var(---white);
    border-radius: 10px;
    border: 1px solid var(---line);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blurbg .popupmessage .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid var(---line); */
    background-color: var(---acc_bg);
}

.blurbg .popupmessage .header .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blurbg .popupmessage .header .exit:hover{
    background-color: var(---acc_bg);
}

.blurbg .popupmessage .header .exit:active{
    color: var(---white);
}

.blurbg .popupmessage .message{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(---sbca); */
}

.blurbg .popupmessage .message .message-content{
    text-align: center;
}

.blurbg .popupmessage .message .message-content i{
    font-size: 50px;
    padding: 10px;
}

/* other popups */
.dashboard .Semesterview .blurbg .newsempopup{
    width: 500px;
    border-radius: 10px;
    background-color: var(---white);
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dashboard .Semesterview .blurbg .show-popup{
    display: block;
}

/* add this to classlist */
.dashboard .workspace .showSemPopup{
    visibility: visible;
}

.dashboard .teacher_popup .header .headertitle,
.dashboard .Semesterview .blurbg .newsempopup .header .headertitle{
    font-weight: bold;
}

.dashboard .teacher_popup .header .exit,
.dashboard .Semesterview .blurbg .newsempopup .header .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard .teacher_popup .header .exit:hover,
.dashboard .Semesterview .blurbg .newsempopup .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .teacher_popup .header .exit:active,
.dashboard .Semesterview .blurbg .newsempopup .header .exit:active{
    color: var(---white);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform{
    padding: 10px;
    text-align: center;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .radiobtn{
    justify-content: start;
    /* border: 1px solid var(---line); */
    text-align: start;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .radiobtn input{
    border: 1px solid var(---line);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem input:not(input[type="checkbox"]){
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid var(---line);
    text-align: end;
    width: 250px;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem .radiobbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 5px solid var(---line);
    border-radius: 50%;
    margin-right: 10px;
    /* padding: 10px; */
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem .radiobbutton .highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem .radiobbutton .active{
    background-color: var(---bday);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem .radiobbutton:hover{
    border: 5px solid var(---gray);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .savesemester button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    width: 80%;
    background-color: var(---sbca);
    color: var(---selected_color);
    margin-top: 20px;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .savesemester #savesemester:hover{
    background-color: var(---white);
    color: var(---maincolor);
}

.dashboard .teacher_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: fit-content;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .teacher_popup .t_popup_content{
    /* border: 1px solid var(---sbca); */
    min-height: 200px;
    display: none;
}

.dashboard .teacher_popup .t_popup_content .std-info{
    display: flex;
    justify-content: space-between;
}
.dashboard .teacher_popup .t_popup_content .popup-message{
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(---sbca); */
    height: 250px;
}

.dashboard .teacher_popup .t_popup_content .popup-message .popup-message-content{
    text-align: center;
}

.dashboard .teacher_popup .t_popup_content .popup-message .popup-message-content i{
    color: var(---sunflower);
    font-size: 50px;
    padding: 10px;
}

.dashboard .teacher_popup .t_popup_content .std-info .side{
    /* border: 1px solid var(---line); */
    padding: 10px;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .teacher_popup .t_popup_content .std-info .side img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(---line);
}

.dashboard .teacher_popup .t_popup_content .std-info .left{
    width: 20%;
}

.dashboard .teacher_popup .t_popup_content .std-info .right{
    width: 80%;
    justify-content: start;
}
.dashboard .teacher_popup .t_popup_content .std-info .right .info{
    text-align: start;
}

.dashboard .teacher_popup .t_popup_content .std-info .right .info p{
    color: var(---gray);
}

.dashboard .teacher_popup .t_popup_content .input{
    /* border: 1px solid var(---line); */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .teacher_popup .t_popup_content .input input{
    padding: 5px;
    border: 1px solid var(---line);
    border-radius: 10px;
    text-align: end;
    font-size: 18px;
}

.dashboard .teacher_popup .t_popup_content .input select{
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(---line);
    width: 200px;
}

.dashboard .teacher_popup .t_popup_content .submit-grade{
    justify-content: center;
}

.dashboard .teacher_popup .t_popup_content .submit-grade button{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: var(---sbca2);
    color: var(---selected_color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .teacher_popup .t_popup_content .submit-grade button i{
    font-size: 18px;
    color: var(---sunflower);
    margin-right: 10px;
}

.dashboard .teacher_popup .t_popup_content .submit-grade button:hover{
    background-color: var(---sbca);
}

.dashboard .teacher_popup .show{
    display: block;
}

/* enroll student popup */
.dashboard .userlistview .viewenrollstudent_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: fit-content;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment-user-photo{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment-user-photo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(---line);
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment-config{
    padding: 10px;
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment-config .enrollment-info{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(---line);
    margin-bottom: 10px;
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment_btn{
    padding: 10px;
    text-align: center;
    /* border: 1px solid var(---gray); */
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment_btn button{
    width: fit-content;
    background-color: var(---sbca2);
    border: 0;
    color: var(---selected_color);
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment_btn button:hover{
    background-color: var(---sbca);
}

.dashboard .userlistview .viewenrollstudent_popup .enrollment_btn button:active{
    background-color: var(---white);
    color: var(---white);
}

/* error message in enrolling student */
.dashboard .userlistview .view_error-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 30%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .userlistview .view_error-message .error-message-content{
    text-align: center;
    /* border: 1px solid var(---gray); */
    height: 75%;
}

.dashboard .userlistview .view_error-message .error-message-content #warning-sign{
    font-size: 50px;
    padding: 5px;
    color: var(---sbca);
}

/* view more information about students - admin list of all students, formerly dashboard */
.dashboard .userlistview .viewstudentinfo_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 95%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line{
    /* border: 1px solid var(---line); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line .block{
    padding: 10px;
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line .block input{
    border: 1px solid var(---line);
    width: 250px;
    padding: 5px;
    font-size: 15px;
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line .block input:focus{
    outline: none;
    background-color: var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line .block button{
    border: 1px solid var(---line);
    background-color: var(---acc_bg);
    font-size: 18px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}

.dashboard .userlistview .viewstudentinfo_popup .userinfolines .line .block button:hover{
    background-color: var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule{
    padding: 10px;
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .teacherScheduleHeader{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .teacherScheduleHeader .addSubjectBtn{
    /* border: 1px solid var(---line); */
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .teacherScheduleHeader .addSubjectBtn:hover{
    background-color: var(---acc_bg);
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .teacherScheduleHeader .addSubjectBtn p{
    font-size: 16px;
    margin-left: 5px;
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .teacherScheduleHeader .addSubjectBtn:active{
    color: var(---selected_color);
}

.dashboard .userlistview .viewstudentinfo_popup .teacherSchedule .scroll-table{
    height: 200px;
    overflow-y: scroll;
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars{
    /* border: 1px solid var(---gray); */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars .side{
    /* border: 1px solid var(---gray); */
    width: 50%;
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars .action-button{
    text-align: end;
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars .action-button button{
    padding: 5px;
    border: 0;
    border-radius: 5px;
    min-width: 100px;
    /* max-width: 200px; */
    font-size: 15px;
    background-color: transparent;
    color: var(---maincolor);
    cursor: pointer;
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars .action-button button:hover{
    background-color: var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .tabbars .action-button button:active{
    color: var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student{
    display: flex;
    justify-content: center;
    /* border: 1px solid var(---gray); */
    height: 80%;
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side{
    /* border: 1px solid var(---gray); */
    width: 50%;
    padding: 10px;

    /* cotumize this first, make it thinner */
    overflow-y: scroll; 
}

/* student's bio */
.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    min-height: 200px;

    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.student-bio .user-bio-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.student-bio .user-bio-photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name input{
    width: 70%;
    border: 0;
    font-size: 18px;
    padding: 5px;
    color: var(---maincolor);
    border-bottom: 1px solid var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name select{
    padding: 10px;
    width: 72%;
    border: 0;
    border-bottom: 1px solid var(---line);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .actions{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: end;
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .actions button{
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    background-color: var(---acc_bg);
    color: var(---maincolor);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio .actions button:hover{
    background-color: var(---sbca);
    color: var(---selected_color);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .student-bio p{
    padding: 5px;
}

/* costumize scrollbar */
.dashboard .userlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar {
    width: 5px;
    border: 1px solid var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-track {
    background: transparent;
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-thumb {
    background: var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-thumb:hover {
    background: var(---maincolor);
}

/* end of costomize scrollbar */

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .table-of-grade-in-semester .table-item{
    margin-bottom: 20px;
    border-bottom: 1px solid var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .table-of-grade-in-semester .more-info{
    color: var(---gray);
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .account-info{
    margin-bottom: 10px;
    /* border: 1px solid var(---gray); */
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .account-info .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .sem-balance{
    padding: 10px;
    /* border: 1px solid var(---line); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.dashboard .userlistview .viewstudentinfo_popup .info-student .side .sem-balance:hover{
    background-color: var(---acc_bg);
}

/* admin's dashboard list of all students option popup */
.dashboard .picker-popup,
.dashboard .studentOption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .picker-popup .header .headertitle,
.dashboard .studentOption .header .headertitle{
    font-weight: bold;
}

.dashboard .courselistview .blurbg .header .exit,
.dashboard .userlistview .view_error-message .exit,
.dashboard .userlistview .viewenrollstudent_popup .header .exit,
.dashboard .userlistview .viewstudentinfo_popup .header .exit,
.dashboard .studentOption .header .exit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

.dashboard .courselistview .blurbg .header .exit:active,
.dashboard .userlistview .view_error-message .exit:active,
.dashboard .userlistview .viewenrollstudent_popup .header .exit:active,
.dashboard .userlistview .viewstudentinfo_popup .header .exit:active,
.dashboard .studentOption .header .exit:active{
    color: var(---white);
}

.dashboard .courselistview .blurbg .header .exit:hover,
.dashboard .userlistview .view_error-message .exit:hover,
.dashboard .userlistview .viewenrollstudent_popup .header .exit:hover,
.dashboard .userlistview .viewstudentinfo_popup .header .exit:hover,
.dashboard .studentOption .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .userlistview .studentOption .popupOptions{
    height: 200px;
}

.optionsContent{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsContent select{
    padding: 5px;
    border: 0;
    border-bottom: 1px solid var(---sbca);
}

.optionsContent select:focus{
    outline: none;
}

.optionsContent input{
    border: 1px solid var(---line);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}

.optionsContent button{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    background-color: var(---sbca);
    color: var(---selected_color);
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: start;
}

/* add subject to schedule - schedule tab */
.dashboard .appendSub{
    height: 500px;
    max-height: 500px;
}

.dashboard .inputter{
    height: 200px;
}

.dashboard .appendSub .popupOptions{
    height: 450px;
    overflow-y: scroll;
}

.dashboard .appendSub h3{
    padding: 5px;
    background-color: var(---acc_bg);
}

.dashboard .appendSub .list-subjects-selection{
    padding: 5px;
    /* border: 1px solid var(---line); */
}

.dashboard .appendSub .list-subjects-selection .subject-item{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dashboard .appendSub .list-subjects-selection .disabled{
    color: var(---gray);
}

.dashboard .appendSub .list-subjects-selection .subject-item:hover:not(.disabled){
    background-color: var(---hover);
}

.dashboard .appendSub .list-subjects-selection .subject-item p{
    color: var(---gray);
}

/* selection under appendsub */
.dashboard .appendSub .selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    /* border: 1px solid var(---line); */
}

.dashboard .appendSub .selection select{
    width: 150px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid var(---line);
    border-radius: 0;
}

.dashboard .appendSub .selection select:focus{
    outline: none;
    background-color: var(---acc_bg);
}

.dashboard .appendSub .addsubject-showsubject{
    height: 350px;
    /* border: 1px solid var(---line); */
    overflow-y: scroll;
}
.dashboard .appendSub .addsubject-showsubject .addsubject-subjectitem{
    padding: 10px;
    /* border: 1px solid var(---line); */
    cursor: pointer;
}

.dashboard .appendSub .addsubject-showsubject .addsubject-subjectitem p{
    font-size: 15px;
    color: var(---gray);
}

.dashboard .appendSub .addsubject-showsubject .addsubject-subjectitem:hover{
    background-color: var(---acc_bg);
}

.dashboard .appendSub .quick-action{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}

.dashboard .appendSub .quick-action .action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dashboard .appendSub .update{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.dashboard .appendSub .update input{
    padding: 10px;
    border: 1px solid var(---line);
    border-radius: 10px;
    width: 150px;
    text-align: end;
    font-size: 18px;
}

.dashboard .appendSub .update input:focus{
    outline: none;
}

.dashboard .appendSub .quick-action .action:hover{
    background-color: var(---acc_bg);
}

.dashboard .appendSub .quick-action .action i{
    font-size: 20px;
}

/* modify subject in schedule tab */
.dashboard .modifySub{
    height: 350px;
}

/* actions */
.dashboard .modifySub .scheduleActions{
    padding: 5px;
    color: var(---gray);
    display: flex;
    align-items: center;
    justify-content: end;
}

.dashboard .modifySub .scheduleActions .action{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.dashboard .modifySub .scheduleActions .action:hover{
    background-color: var(---line);
    color: var(---maincolor);
}

.dashboard .modifySub .popupOptions{
    overflow-y: scroll;
    height: 250px;
    max-height: 250px;
}

.dashboard .modifySub input{
    border: 1px solid var(---line);
    border-radius: 5px;
    width: 200px;
    padding: 5px;
}

.dashboard .modifySub input:focus{
    outline: none;
}

/* announcment /calendar */

.dashboard .workspace .announcementview .content .entries .title{
    border: none;
    font-size: 30px;
    width: 100%;
}

.dashboard .workspace .announcementview .content .entries input:focus{
    background-color: transparent;
}

.dashboard .workspace .announcementview .content .entries .ann_body:focus,
.dashboard .workspace .announcementview .content .entries .title:focus{
    outline: none;
}

.dashboard .workspace .announcementview .content .entries .ann_body{
    width: 100%;
    font-size: 20px;
    font-family: "Open sans", "Noto Color Emoji", sans-serif;
    border: none;
    border-bottom: 1px solid var(---line);
    resize: none;
    margin-top: 20px;
}

.dashboard .workspace .announcementview .content .attachments .files{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard .workspace .announcementview .content .attachments .files:hover{
    background-color: var(---line);
    color: var(---maincolor);
}


.dashboard .workspace .announcementview .content .attachments .files svg,
.dashboard .workspace .announcementview .content .attachments .files i{
    margin-right: 10px;
}

.dashboard .workspace .announcementview .content .attachments .files .remove{
    margin-left: 10px;
}

/* course popup - for viewing more information about clicked course item */
.dashboard .courselistview .courseinfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 500px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .courselistview .courseinfo .contents{
    padding: 10px;
    /* border: 1px solid var(---line); */
    height: 420px;
    overflow-y: scroll;
}

.dashboard .courselistview .courseinfo .contents .viewTable{
    margin-bottom: 50px;
    border-bottom: 1px solid var(---line);
}

.dashboard .courselistview .courseinfo .contents .viewTable .label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    /* border: 1px solid var(---line); */
    color: var(---gray);
}

/* Course popup - for adding new course */

.dashboard .courselistview .addnew_course{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.589);

    display: none;
}

.dashboard .courselistview .addnew_course select{
    border: none;
    border-bottom: 1px solid var(---line);
    padding: 10px;
    width: 150px;
}

.addnew_course select:focus{
    outline: none;
}

.dashboard .courselistview .show_addnew_course{
    display: block;
}

.dashboard .courselistview .addnew_course .new_course{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 550px;
    height: 300px;
    background-color: var(---white);
    border: 1px solid var(---line);
    border-radius: 5px;
}

.dashboard .courselistview .addnew_course .new_course .header i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard .courselistview .addnew_course .new_course .header i:hover{
    background-color: var(---hover);
}

.dashboard .courselistview .addnew_course .new_course .header i:active{
    color: var(---white);
}

.dashboard .courselistview .addnew_course .new_course .content{
    max-height: 200px;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input input{
    border: 1px solid var(---line);
    border-radius: 5px;
    padding: 5px;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input input:focus{
    outline: none;
}

.dashboard .courselistview .addnew_course .new_course .content .button{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
}

.dashboard .courselistview .addnew_course .new_course .content .button input{
    border-radius: 5px;
    background-color: var(---sbca2);
    color: var(---selected_color);
}

.dashboard .courselistview .addnew_course .new_course .content .button input:hover{
    background-color: transparent;
    color: var(---maincolor);
}

.dashboard .courselistview .addnew_course .new_course .content .button input:active{
    color: var(---white);
}


/* todo list view */
/* new todo list */
.dashboard .workspace .workcard .content .todolist_content{
    /* border: 1px solid var(---line); */
    min-height: 300px;

    display: flex;
    justify-content: space-between;
}

.dashboard .workspace .workcard .content .todolist_content .right{
    width: 70%;
    padding: 20px;
}

.dashboard .workspace .workcard .content .todolist_content .right .emptyTaskLabel{
    padding: 10px;
    font-size: 20px;
}

.dashboard .workspace .workcard .content .todolist_content .right .taskitem{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(---line); */
    cursor: pointer;
}

.dashboard .workspace .workcard .content .todolist_content .right .taskitem:hover{
    background-color: var(---acc_bg);
}

.dashboard .workspace .workcard .content .todolist_content .right .done p{
    text-decoration: line-through;
}

.dashboard .workspace .workcard .content .todolist_content .right .taskitem i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    /* border: 1px solid var(---line); */
    font-size: 18px;
    padding: 5px;
}

.dashboard .workspace .workcard .content .todolist_content .right .taskitem i:hover{
    background-color: var(---acc_bg);
    color: var(---sbca);
}

.dashboard .workspace .workcard .content .todolist_content .left{
    width: 30%;
    display: flex;
    justify-content: center;
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo{
    border: 1px solid var(---line);
    padding: 10px;
    height: fit-content;
    width: 100%;
    background-color: var(---maincolor);
    color: var(---white);
    border-radius: 10px;
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo h3{
    padding: 10px;
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo .newtask{
    padding: 10px;
    display: flex;
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo .newtask input{
    border: 0;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    width: 80%;
    color: var(---white);
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo .newtask button{
    width: 20%;
    /* border: 1px solid var(---line); */
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: transparent;
    color: var(---white);
}

.dashboard .workspace .workcard .content .todolist_content .left .newTodo .newtask button:hover{
    background-color: var(---acc_bg);
}

/* old todo list css */
.dashboard .workspace .workcard .content .todo_lists,
.dashboard .workspace .workcard .content .todolist{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .workspace .workcard .content .todolist .newtodo{
    border: 1px solid var(---gray);
    border-radius: 10px;
    padding: 10px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput input{
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    color: var(---selected_color);
    background-color: var(---sbca);
    border-radius: 50%;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput button svg{
    width: 30px;
    height: 30px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput input:focus{
    outline: none;
}

.dashboard .workspace .workcard .content .todo_lists .lists{
    padding: 10px;
    width: 500px;
    max-width: 500px;
    margin-top: 10px;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item:hover{
    background-color: var(---hover3);
}

.dashboard .workspace .workcard .content .todo_lists .lists .item .checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item .checkbox input{
    margin-right: 10px;
    background-color: var(---sbca);
    cursor: pointer;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item i:hover{
    color: var(---sbca);
}

/* new student and teacher page */
.dashboard .workspace .newuserview .content .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .workspace .newuserview .content .forms{
    margin-top: 10px;
}

.dashboard .workspace .newuserview .content .forms .user_name{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dashboard .workspace .newuserview .content .forms .user_name .form{
    display: flex;
    align-items: center;
    border: 1px solid var(---line);
    margin-right: 10px;
    border-radius: 5px;
}

.dashboard .workspace .newuserview .content .forms .user_name .form input{
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.dashboard .workspace .newuserview .content .forms .user_name .form input:focus{
    outline: none;
}

.dashboard .workspace .newuserview .content .forms .user_name .picker{
    margin-right: 20px;
}

.dashboard .workspace .newuserview .content .forms .user_name .picker input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(---line);
    font-size: 18px;
}

.dashboard .workspace .newuserview .content .forms .user_name .address textarea{
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid var(---line);
    border-radius: 10px;
    font-size: 18px;
}

.dashboard .workspace .newuserview .content .forms .user_name .address textarea:focus{
    outline: none;
}

/* new dashboard style */
.dashboard-board{
    display: flex;
    align-items: center;
    /* border: 1px solid var(---gray); */
    min-height: 100px;
}

.user-board{
    min-height: 280px;
    width: 200px;
    margin-right: 5px;
    background-color: var(---acc_bg);
    flex-direction: column;
    cursor: pointer;
    border: 1px solid var(---line);
}

.user-board:active{
    background-color: var(---sbca);
}

.user-board:hover{
    background-color: var(---hover);
}

.expand{
    flex-grow: 1;
    background-color: var(---sbca);
    color: var(---selected_color);

    .label-for-number{
        color: var(---maincolor);
    }
}

.expand:hover{
    background-color: var(---sbca2);
}

.card-header{
    /* border: 1px solid var(---gray); */
    font-size: 20px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-enrolled{
    /* border: 1px solid var(---gray); */
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 5px;
    font-size: 60px;
    font-weight: bold;
}

.label-for-number{
    color: var(---gray);
    font-size: 15px;
    margin: 0 5px 0 5px;
    border-top: 1px solid var(---line);
}

.grid-images{
    /* border: 1px solid var(---gray); */
    height: 100px;
    padding: 10px;
}

.grid-images .grid-row{
    height: 50px;
    /* border: 1px solid var(---gray); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.grid-row img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid var(---line);
    /* margin: 3px; */
    border-radius: 3px;
}

.semester-name{
    color: var(---gray);
    margin-bottom: 20px;
    border-bottom: 1px solid var(---line);
}

.semester-number{
    color: var(---maincolor);
}

.label-for-dashboard{
    padding: 10px;
    color: var(---gray);
}

.ranking-students{
    padding: 10px;
    margin-top: 10px;
}

.ranking-students .rank-title{
    color: var(---gray);
}

.ranking-students .toptenstudents{
    min-height: 200px;
    /* border: 1px solid var(---line); */
    display: flex;
    flex-wrap: wrap;
}

.toptenstudents .top-student{
    width: 250px;
    height: 350px;
    border: 1px solid var(---line);
    background-color: var(---acc_bg);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.toptenstudents .top-student:hover{
    background-color: var(---line);
}

.toptenstudents .top-student .toplevel{
    padding: 10px;
    border-bottom: 1px solid var(---line);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toptenstudents .top-student .name{
    /* border: 1px solid var(---line); */
    padding: 10px;
    text-align: center;
}

.toptenstudents .top-student .name img{
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.toptenstudents .top-student .name p{
    color: var(---gray);
}

.toptenstudents .top-student .other-info{
    color: var(---gray);
    padding: 5px;
    font-size: 16px;
}

.toptenstudents .top-student .other-info .course{
    color: var(---maincolor);
}

/* SUBJECT STYLES */
.subject-content{
    /* border: 1px solid var(---line); */
    display: flex;
    justify-content: space-between;
}

/* .subject-content .subj-side{
    border: 1px solid var(---line);
} */

.subject-content .sub-left{
    width: 75%;
    overflow-y: scroll;
}

.sub-left::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
    background-color: transparent;
}

.sub-left::-webkit-scrollbar-track{
    background-color: transparent;
}

.sub-left::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.sub-left:hover{
    &::-webkit-scrollbar-thumb{
        background-color: var(---gray);
    }
}

.subject-content .sub-right{
    width: 25%;
    border-radius: 10px;
    background-color: var(---acc_bg);
}

.sub-right .user-info .user-name-username{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-right .user-info .user-name-username a{
    color: var(---gray);
}

.sub-right .user-info .user-name-username a:hover{
    text-decoration: underline;
    color: var(---maincolor);
}

.sub-right .user-info .user-photo{
    /* border: 1px solid var(---line); */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sub-right .user-info .user-photo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(---gray);
}

.sub-right .user-info .user-name{
    /* border: 1px solid var(---line); */
    padding: 10px;

}

.sub-right .user-info .user-name div{
    display: flex;
    align-items: center;
    /* border: 1px solid var(---line); */
}

.sub-right .user-info .user-name div i{
    margin-right: 5px;
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.sub-right .user-info .user-option{
    /* border: 1px solid var(---line); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sub-right .user-info .user-option .u-option{
    /* border: 1px solid var(---line); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-width: 100px;
    max-width: 180px;
    cursor: pointer;
    margin-right: 5px;
}

.sub-right .user-info .user-option .u-option:hover{
    background-color: var(---line);
}

.sub-left .list-subjects{
    /* border: 1px solid var(---line); */
    min-height: 200px;
}

.sub-left .list-subjects .subj-day{
    display: flex;
    align-items: center;
}

.sub-right .user-info .user-option .u-option i,
.sub-left .list-subjects .subj-day i{
    margin-right: 5px;
}

.list-subjects .subject-item{
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.list-subjects .subject-item:hover{
    border: 1px solid var(---line);
}

.list-subjects .subject-item .subj-header{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-subjects .subject-item .empty{
    padding: 10px;
    color: var(---gray);
}

.list-subjects .subject-item .subj-header .subj-option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-subjects .subject-item .subj-header .subj-option:hover{
    background-color: var(---line);
}

.list-subjects .subject-item .subj-header .subj-option:active{
    color: var(---white);
    background-color: var(---white);
}

.list-subjects .subject-item .other-subj-info{
    font-size: 16px;
    color: var(---gray);
}

.list-subjects .subject-item .other-subj-info p{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(---line);
}