.view{
    height: 85vh;
    width: 100%;
    display: none;
}

.active_user{
    display: flex;
}

.dashboard .sides{
    padding: 10px;
}

/* all text input and textarea */
textarea,
input{
    font-family: "Open Sans", "Noto Color Emoji", sans-serif;
}

/* dashboard Usercard - STUDENTS */

.dashboard .userprofile{
    width: 25%;
    min-width: 300px;
}

.dashboard .userprofile .usercard{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
    border-radius: 10px;
    height: 230px;
    min-height: 200px;
    border: 1px solid var(---line);
}

.dashboard .userprofile .usercard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.dashboard .userprofile .usercard .header .user_profile{
    display: flex;
    align-items: center;
}

.dashboard .userprofile .usercard .header .user_profile .image{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50px;
}

.dashboard .userprofile .usercard .header .user_profile .image #image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dashboard .userprofile .usercard .header .user_profile .name #name{
    color: var(---maincolor);
    font-weight: bold;
}

.dashboard .userprofile .usercard .header .user_profile .name #course{
    color: var(---gray);
    font-size: 16px;
}

.dashboard .userprofile .usercard .header .options{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.dashboard .userprofile .usercard .header .options:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

/* View GPA */

.dashboard .userprofile .usercard .viewGPA{
    height: 130px;
    max-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .userprofile .usercard .viewGPA .gpa #grade{
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

/* dashboard Table view - STUDENTS */
.dashboard .dashboardTable{
    width: 75%;
}

.dashboard .dashboardTable .header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .dashboardTable .header .head p{
    font-weight: bold;
    font-size: 25px;
}

.dashboard .dashboardTable .timeupdate{
    padding-left: 10px;
    padding-right: 10px;
    color: var(---gray);
    display: flex;
    align-items: center;
}

.dashboard .dashboardTable .timeupdate i{
    margin-right: 10px;
}

.dashboard .dashboardTable .table{
    padding: 10px;
}

.dashboard .dashboardTable .table .gradeTable{
    width: 100%;
    border-collapse: collapse;
}

.dashboard .dashboardTable .table .gradeTable tr th{
    border: 1px solid var(---line);
    text-align: start;
    padding: 3px;
    color: var(---selected_color);
    background-color: var(---tableHeader);
}

.dashboard .dashboardTable .table .gradeTable tr td{
    border: 1px solid var(---gray);
    padding: 3px;
    cursor: pointer;
}

.dashboard .dashboardTable .table .gradeTable tr #grade{
    width: 5%;
}

.dashboard .dashboardTable .table .gradeTable tr #subject{
    width: auto;
}

.dashboard .dashboardTable .table .gradeTable tr #code{
    width: 10%;
}

.dashboard .dashboardTable .table .gradeTable tr #teacher{
    width: auto;
}

.dashboard .dashboardTable .table .gradeTable tr:not(#header):hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

/* dashboard admin's view - ADMIN */

/* global input - for dark and white mode */
input{
    color: var(---maincolor);
    background-color: transparent;
    font-family: "Open Sans", "Noto Color Emoji";
}

input[type="date"]{
    font-family: "Open Sans", sans-serif;
}

input::placeholder{
    color: var(---gray);
}

textarea{
    background-color: transparent;
    color: var(---maincolor);
    font-family: "Open Sans", "Noto Color Emoji";
}

select{
    background-color: transparent;
    color: var(---maincolor);
}

option{
    color: var(---maincolor);
    background-color: var(---white);
}

/* tab bar admin view */
.dashboard .tabbar{
    width: 200px;
    padding: 5px;
}

.dashboard .tabbar .t_option,
.dashboard .tabbar .option{
    color: var(---maincolor);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.dashboard .tabbar .t_option:not(.active):hover,
.dashboard .tabbar .option:not(.active):hover{
    background-color: var(---hover);
}

.dashboard .tabbar .active{
    background-color: var(---sbca);
    color: var(---selected_color);
}

.dashboard .tabbar .t_option svg,
.dashboard .tabbar .t_option i,
.dashboard .tabbar .option svg,
.dashboard .tabbar .option i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.dashboard .tabbar .t_option svg,
.dashboard .tabbar .option svg{
    width: 25px;
    height: 25px;
}

.dashboard .tabbar .t_option p,
.dashboard .tabbar .option p{
    font-size: 17px;
}

/* dashboard box-content workspace */

.dashboard .workspace{
    padding: 10px;
    width: 100%;
}

.dashboard .workspace .workcard{
    /* box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow); */
    /* border-radius: 5px; */
    height: 540px;  

    display: none;
}

/* all page header and popup menus */

.dashboard .workspace .workcard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* border-bottom: 1px solid var(---gray); */
    /* border: 1px solid var(---line); */
    border-radius: 10px 10px 0 0;
    background-color: var(---acc_bg);
}

.dashboard .workspace .workcard .header .controlside,
.dashboard .workspace .workcard .header .actionside{
    display: flex;
    align-items: center;
}

.dashboard .workspace .workcard .header .controlside .controls,
.dashboard .workspace .workcard .header .actionside .actions{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    font-size: 15px;
}

.dashboard .workspace .workcard .header .actionside #admindb_option p{
    position: absolute;
}

.dashboard .workspace .workcard .header .actionside .actions svg,
.dashboard .workspace .workcard .header .controlside .controls svg{
    width: 20px;
    height: 20px;
}

.dashboard .workspace .workcard .header .controlside .controls p{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
}

/* for announcment post button */
.dashboard .workspace .workcard .header .controlside .post{
    background-color: var(---sbca);
    color: var(---selected_color);
    padding: 5px 15px 5px 15px;
}

.dashboard .workspace .workcard .header .controlside .post:active{
    background-color: var(---white);
}

.dashboard .workspace .workcard .header .controlside .controls:hover,
.dashboard .workspace .workcard .header .actionside .actions:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .workspace .workcard .header .controlside .controls:active,
.dashboard .workspace .workcard .header .actionside .actions:active{
    color: var(---white);
}

.dashboard .workspace .workcard .header .controlside .page{
    font-size: 17px;
    color: var(---gray);
    margin-left: 10px;
    margin-right: 10px;
}

/* searchbar popup */

.header .search .searchinput{
    display: none;
}

.header .search .showSearch{
    display: block;
}

.header .search .searchinput input{
    margin-left: 10px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: var(---maincolor);
}

.header .search input:focus{
    outline: none;
}
/* end of header styling */

/* TAB BAR PAGES STYLES */

/* dashboard workspace */

/* dashboard pop-up / popup for selecting year level of student in dashboard */
.dashboard .workspace .Dashboardview .view_select-level_popup{      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 30%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

/* dashboard pop-up / show student information */
.dashboard .workspace .Dashboardview .open_info_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 66, 66, 0.589);

    width: 100%;
    height: 100%;
    display: none;
}

.dashboard .workspace .Dashboardview .active_open_popup{
    display: block;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(---white);

    width: 750px;
    height: 450px;
    border-radius: 5px;
    border: 1px solid var(---line);
    box-shadow: 0 4px 8px 0 var(---tableHeader), 0 6px 20px 0 var(---tableHeader);
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .blurbg,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .exit:hover,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit:hover{
    background-color: var(---hover);
}

.dashboard .workspace .Dashboardview .view_select-level_popup .header .exit:active,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .header .exit:active{
    color: var(---white);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile{
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .picture{
    border: 1px solid var(---line);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .picture img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .student_name .studentname{
    font-size: 20px;
    font-weight: bold;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .profile .student_name .studentcourse{
    color: var(---gray);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade{
    overflow-y: scroll;
    height: 250px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade::-webkit-scrollbar{
    display: none;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding: 10px;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade:hover{
    background-color: var(---hover);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade input{
    width: 200px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Open sans', sans-serif;
    border: 0;
    border-bottom: 1px solid var(---line);
    text-align: end;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade input:focus,
.dashboard .workspace .Dashboardview .open_info_popup .info_popup .students_grade .grade input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca2);
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade{
    padding: 10px;
    display: flex;
    align-items: center;
}

.dashboard .workspace .Dashboardview .open_info_popup .info_popup .total_grade input{
    border: 1px solid var(---line);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Open sans', sans-serif;
    text-align: end;
    margin-left: 10px;
}

/* end of information popup */

.dashboard .workspace .Dashboardview .content .titleContent{
    margin-bottom: 10px;
}

/* Semester workspace */

.dashboard .workspace .workcard .content{ /* Content page of all pages from tab bar starts here. */
    padding: 10px;
    height: 450px;
    overflow-y: auto;

    /* removing scrollbar */
    scrollbar-width: none; /* remove scrollbar for firefox */
    -ms-overflow-style: none; /* remove scrollbar for edge  */
}

/* remove scrollbar */
.dashboard .workspace .Dashboardview .content::-webkit-scrollbar{
    display: none;
}

.dashboard .workspace .workcard .content .currentsem{
    font-size: 25px;
    font-weight: lighter;
}

.dashboard .workspace .workcard .content .info{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    height: 80px;
}

.dashboard .workspace .workcard .content .info .seminfo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(---gray);
    width: 150px;
    margin-right: 20px;
    color: var(---maincolor);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dashboard .workspace .workcard .content .info .seminfo:hover{
    background-color: var(---hover3);
}

.dashboard .workspace .workcard .content .info .seminfo i{
    font-size: 30px;
    margin-right: 10px;
}

/* hidding pages - this is for navigating pages like dashboard, semester, students and more. */
.dashboard .workspace .viewpage{
    display: block;
}

/* POPUP STYLES */

/* popup for new users */

.dashboard .workcard .content .popup_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(---white);

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
    height: 120px;
    width: 300px;

    visibility: hidden;
}

.dashboard .workcard .content .showError{ 
    /* show the error message */
    visibility: visible;
}

.dashboard .workcard .content .popup_message .header .headertitle{
    display: flex;
    align-items: center;
}

.dashboard .workcard .content .popup_message .header .headertitle p{
    font-weight: bold;
    margin-left: 10px;
}

.dashboard .workcard .content .popup_message .header .exit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dashboard .workcard .content .popup_message .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .workcard .content .popup_message .header .exit:active{
    color: var(---white);
}

.dashboard .workcard .content .popup_message .error_name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    
    font-size: 20px;
}

.dashboard .workcard .content .popup_message .error_name #error_name,
.dashboard .workcard .content .popup_message .error_name #error_name_msg{
    font-weight: bold;
    margin-left: 10px;
}

/* popup for new semester */
.dashboard .workspace .blurbg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(66, 66, 66, 0.589);
    height: 100%;
    width: 100%;

    visibility: hidden;
}
.dashboard .Semesterview .blurbg .newsempopup{
    width: 500px;
    border-radius: 10px;
    background-color: var(---white);
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(---white);
}

/* add this to classlist */
.dashboard .workspace .showSemPopup{
    visibility: visible;
}

.dashboard .Semesterview .blurbg .newsempopup .header .headertitle{
    font-weight: bold;
}

.dashboard .Semesterview .blurbg .newsempopup .header .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

.dashboard .Semesterview .blurbg .newsempopup .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .Semesterview .blurbg .newsempopup .header .exit:active{
    color: var(---white);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform{
    padding: 10px;
    text-align: center;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .inputsem input{
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid var(---gray);
    text-align: end;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .savesemester #savesemester{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    width: 80%;
    background-color: var(---sbca);
    color: var(---selected_color);
    margin-top: 20px;
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca);
}

.dashboard .Semesterview .blurbg .newsempopup .newsemform .savesemester #savesemester:hover{
    background-color: var(---white);
    color: var(---maincolor);
}

/* enroll student popup */
.dashboard .studentlistview .viewenrollstudent_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: fit-content;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment-user-photo{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment-user-photo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(---line);
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment-config{
    padding: 10px;
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment-config .enrollment-info{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(---line);
    margin-bottom: 10px;
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment_btn{
    padding: 10px;
    text-align: center;
    /* border: 1px solid var(---gray); */
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment_btn button{
    width: fit-content;
    background-color: var(---sbca2);
    border: 0;
    color: var(---selected_color);
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment_btn button:hover{
    background-color: var(---sbca);
}

.dashboard .studentlistview .viewenrollstudent_popup .enrollment_btn button:active{
    background-color: var(---white);
    color: var(---white);
}

/* error message in enrolling student */
.dashboard .studentlistview .view_error-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 30%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .studentlistview .view_error-message .error-message-content{
    text-align: center;
    /* border: 1px solid var(---gray); */
    height: 75%;
}

.dashboard .studentlistview .view_error-message .error-message-content #warning-sign{
    font-size: 50px;
    padding: 5px;
    color: var(---sbca);
}

/* view more information about students - admin list of all students, formerly dashboard */
.dashboard .studentlistview .viewstudentinfo_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 95%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars{
    /* border: 1px solid var(---gray); */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars .side{
    /* border: 1px solid var(---gray); */
    width: 50%;
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars .action-button{
    text-align: end;
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars .action-button button{
    padding: 5px;
    border: 0;
    border-radius: 5px;
    min-width: 100px;
    /* max-width: 200px; */
    font-size: 15px;
    background-color: transparent;
    color: var(---maincolor);
    cursor: pointer;
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars .action-button button:hover{
    background-color: var(---line);
}

.dashboard .studentlistview .viewstudentinfo_popup .tabbars .action-button button:active{
    color: var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student{
    display: flex;
    justify-content: center;
    /* border: 1px solid var(---gray); */
    height: 80%;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side{
    /* border: 1px solid var(---gray); */
    width: 50%;
    padding: 10px;

    /* cotumize this first, make it thinner */
    overflow-y: scroll; 
}

/* student's bio */
.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    min-height: 200px;

    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.student-bio .user-bio-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.student-bio .user-bio-photo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(---line);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name input{
    width: 100%;
    border: 0;
    font-size: 18px;
    padding: 5px;
    color: var(---maincolor);
    border-bottom: 1px solid var(---line);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio .user-name input:focus{
    outline: none;
    border-bottom: 1px solid var(---sbca);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio .warning{
    display: flex;
    align-items: center;
    color: var(---gray);
    font-size: 15px;
    padding: 10px;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio .warning i{
    margin-right: 5px;
    color: var(---sbca);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .student-bio p{
    padding: 5px;
}

/* costumize scrollbar */
.dashboard .studentlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar {
    width: 5px;
    border: 1px solid var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-track {
    background: transparent;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-thumb {
    background: var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side::-webkit-scrollbar-thumb:hover {
    background: var(---maincolor);
}

/* end of costomize scrollbar */

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .table-of-grade-in-semester{
    margin-bottom: 50px;
    border-bottom: 1px solid var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .table-of-grade-in-semester .more-info{
    color: var(---gray);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .account-info{
    margin-bottom: 10px;
    /* border: 1px solid var(---gray); */
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .account-info .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .payment-history{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .payment-history:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .payment-history .payment-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(---gray);
    cursor: pointer;
}

.dashboard .studentlistview .viewstudentinfo_popup .info-student .side .payment-history .payment-info:hover{
    background-color: var(---line);
}

/* admin's dashboard list of all students option popup */
.dashboard .studentlistview .studentOption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

.dashboard .studentlistview .studentOption .header .headertitle{
    font-weight: bold;
}

.dashboard .courselistview .blurbg .header .exit,
.dashboard .studentlistview .view_error-message .exit,
.dashboard .studentlistview .viewenrollstudent_popup .header .exit,
.dashboard .studentlistview .viewstudentinfo_popup .header .exit,
.dashboard .studentlistview .studentOption .header .exit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

.dashboard .courselistview .blurbg .header .exit:active,
.dashboard .studentlistview .view_error-message .exit:active,
.dashboard .studentlistview .viewenrollstudent_popup .header .exit:active,
.dashboard .studentlistview .viewstudentinfo_popup .header .exit:active,
.dashboard .studentlistview .studentOption .header .exit:active{
    color: var(---white);
}

.dashboard .courselistview .blurbg .header .exit:hover,
.dashboard .studentlistview .view_error-message .exit:hover,
.dashboard .studentlistview .viewenrollstudent_popup .header .exit:hover,
.dashboard .studentlistview .viewstudentinfo_popup .header .exit:hover,
.dashboard .studentlistview .studentOption .header .exit:hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .studentlistview .studentOption .popupOptions{
    height: 200px;
}

.optionsContent{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsContent select{
    padding: 5px;
    border: 0;
    border-bottom: 1px solid var(---sbca);
}

.optionsContent select:focus{
    outline: none;
}

/* list of students view - ADMIN */
.dashboard .workspace .workcard .content .adminlistofstudents{
    width: 100%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr:not(.tb_header){
    cursor: pointer;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr:not(.tb_header):hover{
    box-shadow: 0 4px 8px 0 var(---shadow), 0 6px 20px 0 var(---shadow);
}

.dashboard .workspace .workcard .content .adminlistofstudents tr:not(.tb_header):active{
    color: var(---white);
}

.dashboard .workspace .workcard .content .adminlistofstudents tr th{
    /* border: 1px solid var(---gray); */
    padding: 3px;
    text-align: start;
    background-color: var(---tableHeader);
    color: var(---selected_color);
    font-weight: normal;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr td{
    /* border: 1px solid var(---gray); */
    padding: 10px;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #userid{
    width: 15%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #name{
    width: 30%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #course{
    width: 30%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #year{
    width: 10%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #status{
    width: 10%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #email{
    width: 20%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #numstudents,
.dashboard .workspace .workcard .content .adminlistofstudents tr #coursecode{
    width: 10%;
}

.dashboard .workspace .workcard .content .adminlistofstudents tr #coursename{
    width: auto;
}

/* announcment /calendar */

.dashboard .workspace .announcementview .content .entries .title{
    border: none;
    font-size: 30px;
    width: 100%;
}

.dashboard .workspace .announcementview .content .entries .ann_body:focus,
.dashboard .workspace .announcementview .content .entries .title:focus{
    outline: none;
}

.dashboard .workspace .announcementview .content .entries .ann_body{
    width: 100%;
    font-size: 20px;
    font-family: "Open sans", "Noto Color Emoji", sans-serif;
    border: none;
    border-bottom: 1px solid var(---line);
    resize: none;
    margin-top: 20px;
}

.dashboard .workspace .announcementview .content .attachments .files{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard .workspace .announcementview .content .attachments .files:hover{
    background-color: var(---line);
    color: var(---maincolor);
}


.dashboard .workspace .announcementview .content .attachments .files svg,
.dashboard .workspace .announcementview .content .attachments .files i{
    margin-right: 10px;
}

.dashboard .workspace .announcementview .content .attachments .files .remove{
    margin-left: 10px;
}

/* course popup - for viewing more information about clicked course item */
.dashboard .courselistview .courseinfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(---white);
    height: 95%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(---shadow2), 0 6px 20px 0 var(---shadow2);
}

/* Course popup - for adding new course */

.dashboard .courselistview .addnew_course{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.589);

    display: none;
}

.dashboard .courselistview .show_addnew_course{
    display: block;
}

.dashboard .courselistview .addnew_course .new_course{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 550px;
    height: 300px;
    background-color: var(---white);
    border: 1px solid var(---line);
    border-radius: 5px;
}

.dashboard .courselistview .addnew_course .new_course .header i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dashboard .courselistview .addnew_course .new_course .header i:hover{
    background-color: var(---hover);
}

.dashboard .courselistview .addnew_course .new_course .header i:active{
    color: var(---white);
}

.dashboard .courselistview .addnew_course .new_course .content{
    max-height: 200px;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input input{
    border: 1px solid var(---line);
    border-radius: 5px;
    padding: 5px;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
}

.dashboard .courselistview .addnew_course .new_course .content .course_input input:focus{
    outline: none;
}

.dashboard .courselistview .addnew_course .new_course .content .button{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
}

.dashboard .courselistview .addnew_course .new_course .content .button input{
    border-radius: 5px;
    background-color: var(---sbca2);
    color: var(---selected_color);
}

.dashboard .courselistview .addnew_course .new_course .content .button input:hover{
    background-color: transparent;
    color: var(---maincolor);
}

.dashboard .courselistview .addnew_course .new_course .content .button input:active{
    color: var(---white);
}


/* todo list view */

.dashboard .workspace .workcard .content .todo_lists,
.dashboard .workspace .workcard .content .todolist{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .workspace .workcard .content .todolist .newtodo{
    border: 1px solid var(---gray);
    border-radius: 10px;
    padding: 10px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput input{
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    color: var(---selected_color);
    background-color: var(---sbca);
    border-radius: 50%;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput button svg{
    width: 30px;
    height: 30px;
}

.dashboard .workspace .workcard .content .todolist .newtodo .newtodoinput input:focus{
    outline: none;
}

.dashboard .workspace .workcard .content .todo_lists .lists{
    padding: 10px;
    width: 500px;
    max-width: 500px;
    margin-top: 10px;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item:hover{
    background-color: var(---hover3);
}

.dashboard .workspace .workcard .content .todo_lists .lists .item .checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item .checkbox input{
    margin-right: 10px;
    background-color: var(---sbca);
    cursor: pointer;
}

.dashboard .workspace .workcard .content .todo_lists .lists .item i:hover{
    color: var(---sbca);
}

/* new student and teacher page */
.dashboard .workspace .newuserview .content .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .workspace .newuserview .content .forms{
    margin-top: 10px;
}

.dashboard .workspace .newuserview .content .forms .user_name{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dashboard .workspace .newuserview .content .forms .user_name .form{
    display: flex;
    align-items: center;
    border: 1px solid var(---line);
    margin-right: 10px;
    border-radius: 5px;
}

.dashboard .workspace .newuserview .content .forms .user_name .form input{
    padding: 5px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.dashboard .workspace .newuserview .content .forms .user_name .form input:focus{
    outline: none;
}

.dashboard .workspace .newuserview .content .forms .user_name .picker{
    margin-right: 20px;
}

.dashboard .workspace .newuserview .content .forms .user_name .picker input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(---line);
    font-size: 18px;
}

.dashboard .workspace .newuserview .content .forms .user_name .address textarea{
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid var(---line);
    border-radius: 10px;
    font-size: 18px;
}

.dashboard .workspace .newuserview .content .forms .user_name .address textarea:focus{
    outline: none;
}

/* new dashboard style */
.dashboard-board{
    display: flex;
    align-items: center;
    /* border: 1px solid var(---gray); */
    min-height: 100px;
}

.user-board{
    min-height: 280px;
    width: 200px;
    margin-right: 5px;
    background-color: var(---acc_bg);
    flex-direction: column;
    cursor: pointer;
    border: 1px solid var(---line);
}

.user-board:active{
    background-color: var(---sbca);
}

.user-board:hover{
    background-color: var(---hover);
}

.expand{
    flex-grow: 1;
    background-color: var(---sbca);
    color: var(---selected_color);

    .label-for-number{
        color: var(---maincolor);
    }
}

.expand:hover{
    background-color: var(---sbca2);
}

.card-header{
    /* border: 1px solid var(---gray); */
    font-size: 20px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-enrolled{
    /* border: 1px solid var(---gray); */
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 5px;
    font-size: 60px;
    font-weight: bold;
}

.label-for-number{
    color: var(---gray);
    font-size: 15px;
    margin: 0 5px 0 5px;
    border-top: 1px solid var(---line);
}

.grid-images{
    /* border: 1px solid var(---gray); */
    height: 100px;
    padding: 10px;
}

.grid-images .grid-row{
    height: 50px;
    /* border: 1px solid var(---gray); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.grid-row img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid var(---line);
    /* margin: 3px; */
    border-radius: 3px;
}

.semester-name{
    color: var(---gray);
    margin-bottom: 20px;
    border-bottom: 1px solid var(---line);
}

.semester-number{
    color: var(---maincolor);
}

.label-for-dashboard{
    padding: 10px;
    color: var(---gray);
}

/* edit subject style here */
.subject-content{
    /* border: 1px solid var(---line); */
    display: flex;
    justify-content: space-between;
}

/* .subject-content .subj-side{
    border: 1px solid var(---line);
} */

.subject-content .sub-left{
    width: 75%;
    overflow-y: scroll;
}

.sub-left::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
    background-color: transparent;
}

.sub-left::-webkit-scrollbar-track{
    background-color: transparent;
}

.sub-left::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.sub-left:hover{
    &::-webkit-scrollbar-thumb{
        background-color: var(---gray);
    }
}

.subject-content .sub-right{
    width: 25%;
    border-radius: 10px;
    background-color: var(---acc_bg);
}

.sub-right .user-info .user-name-username{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-right .user-info .user-name-username a{
    color: var(---gray);
}

.sub-right .user-info .user-name-username a:hover{
    text-decoration: underline;
    color: var(---maincolor);
}

.sub-right .user-info .user-photo{
    /* border: 1px solid var(---line); */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sub-right .user-info .user-photo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(---gray);
}

.sub-right .user-info .user-name{
    /* border: 1px solid var(---line); */
    padding: 10px;

}

.sub-right .user-info .user-name div{
    display: flex;
    align-items: center;
    /* border: 1px solid var(---line); */
}

.sub-right .user-info .user-name div i{
    margin-right: 5px;
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.sub-right .user-info .user-option{
    /* border: 1px solid var(---line); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sub-right .user-info .user-option .u-option{
    /* border: 1px solid var(---line); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-width: 100px;
    max-width: 180px;
    cursor: pointer;
    margin-right: 5px;
}

.sub-right .user-info .user-option .u-option:hover{
    background-color: var(---line);
}

.sub-left .list-subjects{
    /* border: 1px solid var(---line); */
    min-height: 200px;
}

.sub-left .list-subjects .subj-day{
    display: flex;
    align-items: center;
}

.sub-right .user-info .user-option .u-option i,
.sub-left .list-subjects .subj-day i{
    margin-right: 5px;
}

.list-subjects .subject-item{
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
}

.list-subjects .subject-item:hover{
    border: 1px solid var(---line);
}

.list-subjects .subject-item .subj-header{
    /* border: 1px solid var(---line); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-subjects .subject-item .subj-header .subj-option{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-subjects .subject-item .subj-header .subj-option:hover{
    background-color: var(---line);
}

.list-subjects .subject-item .subj-header .subj-option:active{
    color: var(---white);
    background-color: var(---white);
}

.list-subjects .subject-item .other-subj-info{
    font-size: 16px;
    color: var(---gray);
}

.list-subjects .subject-item .other-subj-info .subj-holder{
    color: var(---maincolor);
}